<div class="container-fluid" ng-init="iniciar()">
	<div class="row my-3">
		<div class="col">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-plus mr-2"></i>Cadastrar Consultório
							</button>
						</h5>
					</div>
			
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<form>
								<div class="container">
									<div class="row">
										<div class="col-9 col-sm-12">
											<div class="form-group">
												<label for="inputNome">Nome Completo</label>
												<input type="text" maxlength="100" class="form-control" id="inputNome">
											</div>
										</div>
										<div class="col-3 col-sm-12">
											<div class="form-group">
												<label for="inputTelefone">Telefone</label>
												<input type="text" class="form-control" maxlength="20" id="inputTelefone">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label for="inputEndereco">Endereço</label>
												<input type="text" maxlength="200" class="form-control" id="inputEndereco">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<button type="button" class="btn btn-dark w-100" ng-click="Salvar()">Cadastrar</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header">
					<h3>Consultórios Cadastrados</h3>
				</div>
				<div class="card-body">
					<table class="table table-sm" ng-table="tableParams">
						<thead>
							<tr>
								<th scope="col" width="30%">Nome</th>
								<th scope="col" width="10%">Telefone</th>
								<th scope="col" width="50%">Endereço</th>
								<th scope="col" width="10%">Ações</th>
							</tr>
						</thead>
						<tbody id="dt-consultorios" style="display: none;">
          					<tr dir-paginate="consultorio in Consultorios | itemsPerPage:10">
            					<th scope="row">{{consultorio.nome}}</th>
								<td>{{medico.telefone}}</td>
								<td>R$ {{medico.endereco}}</td>
								<td>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button class="btn btn-info" ng-click="Editar(medico)">Editar</button>
										<button class="btn btn-danger" ng-click="Deletar(medico)">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</button>
									</div>
            					</td>
          					</tr>
        				</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-consultorios">
	<div class="modal-dialog" role="document">
	  	<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-consultorios-title">Cadastrar Médico</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="iniciar()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="modal-consultorios-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="iniciar()">Close</button>
			</div>
		</div>
	</div>
</div>
