<div class="container-fluid" ng-init="iniciar()">
	<div class="row my-3">
		<div class="col">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-plus mr-2"></i>Cadastrar Médico
							</button>
						</h5>
					</div>
			
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<form>
								<div class="container">
									<div class="row">
										<div class="col-4">
											<div class="form-group">
												<label for="inputCRM">CRM</label>
												<input type="text" class="form-control" id="inputCRM">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group">
												<label for="inputNome">Nome Completo</label>
												<input type="text" class="form-control" id="inputNome">
											</div>
										</div>
										<div class="col-3">
											<div class="form-group">
												<label for="inputTelefone">Telefone</label>
												<input type="text" class="form-control" maxlength="20" id="inputTelefone">
											</div>
										</div>
										<div class="col-3">
											<div class="form-group">
												<label for="inputValorConsulta">Valor da Consulta</label>
												<input type="number" step="0,01" class="form-control" id="inputValorConsulta">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<button type="button" class="btn btn-primary w-100" ng-click="Salvar()">Cadastrar</button>
										</div>
									</div>
										
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header">
					<h3>Médicos Cadastrados</h3>
				</div>
				<div class="card-body">
					<table class="table table-sm" ng-table="tableParams">
						<thead>
							<tr>
								<th scope="col">CRM</th>
								<th scope="col">Nome</th>
								<th scope="col">Telefone</th>
								<th scope="col">Valor de Consulta</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
						<tbody id="dt-medicos" style="display: none;">
          					<tr dir-paginate="medico in Medicos | itemsPerPage:10">
            					<th scope="row">{{medico.crm}}</th>
								<td>{{medico.nome}}</td>
								<td>{{medico.telefone}}</td>
								<td>R$ {{medico.valorConsulta}}</td>
								<td>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button class="btn btn-info" ng-click="Editar(medico)">Editar</button>
										<button class="btn btn-danger" ng-click="Deletar(medico)">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</button>
									</div>
            					</td>
          					</tr>
        				</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-medicos">
	<div class="modal-dialog" role="document">
	  	<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-medicos-title">Cadastrar Médico</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.location.reload(true)">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="modal-medicos-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="iniciar()">Close</button>
			</div>
		</div>
	</div>
</div>
